@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto", "Helvetica Neue",;
}
:root{
    --text-clr:black;
    --bg-clr:white;
    --border-clr:rgb(38, 8, 64);
    
}
html{
    font-size:62.5%;

}
body{
    background-color: var(--bg-clr);

}
h2{
    font-family: "Lora",serif;
    color:var(--text-clr);
    font-size:2rem;
    transition:all 0.5s linear;

}
a{
    text-decoration:none;

}
img{
    min-width:10rem;
    max-height:30rem;
    margin: 1rem 0;
    border-radius: 1rem;
    transition:all 0.3s linear;
}

/*resuable code*/
body{
  background-color: #000000;
 
}
.container{
    max-width: 140rem;
    margin:auto;
    padding:3rem;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    gap:3rem;

}

.grid-4-col{
    grid-template-columns:repeat(4,1fr);
}
.card{
    width:25rem;
    max-width:30rem;
    min-height:30rem;
    border-radius: 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* movies.css */

/* Media query for screens smaller than 768px (phones) */
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
}

/*search */
.search-section{
    margin:auto;
    text-align:center;
    margin:4rem 0;

}
.search-section h2{
  color: #fff;
}
input{
    width:30rem;
    height: 50px;
    border-radius:100px;
    border-style:none;

    padding:1 rem 2rem;
    font-size:1.8rem;
    box-shadow:2px 2px 2px rgb(205, 239, 239),
               2px 2px 2px rgb(205, 239, 239),
               2px 2px 2px rgb(205, 239, 239);
    outline:none;
    margin-top:2rem;
    text-align: center;
    font-family: cursive;
}
.card-error p{
    color:rgb(215, 243, 241);
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: cursive;
}
/*singlemovie*/
.movie-section{
    width:100%;
    height:100vh;
  
    display:grid;
    place-items:center;
}
.loading{
    font-size:3.2rem;
    color:var(--text-clr);
    text-align:center;
}
.movie-section.loading{
font-size:3.2rem;
color:var(--bg-clr);
text-align:center;
}
.movie-card{
    min-width:30rem;
    width:50vw;
    background-color: var(--bg-clr);
    display:grid;
    gap:2rem;
    grid-template-columns:0.6fr 1fr;
    box-shadow:-5px -2px 10px rgb(205, 239, 239),
               2px 2px 10px rgb(205, 239, 239),
               2px 2px 10px rgb(205, 239, 239);
    border-radius: 2rem;

}
figure{
    margin:0;
    padding:0;

}
.movie-card img{
    width: 100%;
    height:100%;
    margin:0;
    border-radius: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    max-height:50rem;
    height:auto;

}
.movie-card .title{
    font-size:2.8rem;
    color:var(--text-clr);
    font-weight: bold;
}

.card-content{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:1rem;
}
.card-text{
    font-size:  1.8rem;

}
 a{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 3.2rem 1rem;
    color:var(--text-clr);
    border:0.2rem solid var(--text-clr);
    font-size: 1.8rem;
    border-radius: 0.5rem;
    transition:all 0.3s linear;
 }
 a:hover{
    background-color: var(--text-clr);
    color:var(--bg-clr);
 }
 a:hover h2{
    color:var(--bg-clr);
    transform:translateY(-1.5rem);
    display:inline-block;
 }
 a:hover img{
    transform:scale(1.1);
 }
 .back-btn{
    padding: 1.2rem 3.6rem;
    border-radius: 2.5rem;
    margin:5px;
 }
 /*timeplace*/
 .malls{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    
 }
 
 .mall-box{
    width:100%;
    height:130px;
    border:1px solid #e5eef0;
    margin:10px;
    padding:0.5rem;
    display: flex;
    flex-direction: column;
   
    
   
    
 }
 .mall-box h2 {
  color:rgb(205, 239, 239);
  font-size: 1.5rem; /* Adjust font size for better visibility */

 }
 .mall-box h3{
    color:rgb(205, 239, 239);
    font-size: 1.2rem; /* Adjust font size for better visibility */

   }

 .mall-box li{
    list-style: none;
    color:rgb(205, 239, 239)
 }
 .buttons-time{
  display: flex; 
  padding:0.5rem;
  justify-content: center;
  align-items: center; 
  margin: 10px;
  /* Use 100% width to center the buttons */
  width:67.7%;
  position: relative;
  left:400px;
  bottom:123px;
  height:128px;

  
  
  
 
  
 }
 /* mallsCard.css */
.link-style {
  text-decoration: none;

  outline: none;
  border-style:none ;
  height: 45px;
  
  justify-content: center;
  align-items: center;
  
  

}

 /*button of time*/
 .btn {
    
    
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    background-color: #fff;
    border-style: none;
    border-radius: 10px;
    color: #000000;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  
  
  
  .btn span {
    color: #0a0a0a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .buttons-time   button:hover {
    animation: rotate624 0.7s ease-in-out both;
    background-color: #07232c;
  }
  
   .buttons-time   button:hover span {
    animation: storm1261 0.7s ease-in-out both;
    animation-delay: 0.06s;
    color:white;
  }
  
  @keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes storm1261 {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
  
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
  
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
  
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }
  
  .btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;
  }
  
  .btn-shine span {
    z-index: 20;
  }
  
  .btn-shine:after {
    background: #38ef7d;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
  
  .btn-shine:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  

/*header*/
  .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .header h1{
    font-size: 30px;
    position:relative;
    top:10px;
    left:10px;
    color:rgb(205, 239, 239);
  }
  /*header buttons*/
  .header button {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
          -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
    left:30px;
  }
  
  .header button:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px rgba(255,255,255,1),
          0.5px 0.5px 0px rgba(0,0,0,0.15),
          0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(0.5em);
  }
  
  .header p {
    transition: transform 0.5s;
  }
  
  .header button:hover p {
    transform: scale(0.9);
    fill: #333333;
  }
  

  /* Add this to center the "buttons-time" container on smaller screens */
@media screen and (max-width: 767px) {
  .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  .header h1{
    font-size: 20px;
    
  }
  .header button {
    width:50px;
    height: 15px;
    justify-content: center;
    align-items: center;
  }
  .header p{
    font-size: 8px;
  }

  .mall-box {
    height: auto;
    
      
      border:1px solid #e5eef0;
      margin:10px;
      padding:0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the content horizontally */
      justify-content: center;
     
      
   /* Allow the container to adjust its height based on content */
  }

  .mall-box h2 {
    font-size: 1.2rem; /* Adjust font size for better visibility on phones */
  }

  .mall-box h3 {
    font-size: 1rem; /* Adjust font size for better visibility on phones */
  }

  .mall-box li {
    font-size: 0.9rem; /* Adjust font size for better visibility on phones */
  }
  .buttons-time {
   
    align-items: center;
    text-align: center;
    bottom: auto;
    left: auto;
    position: relative;
   
  }
  .link-style {
    height: 10px; /* Adjust height for better visibility on phones */
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin-left: 10px;
  }
  .btn {
    width: 20px;
    height: 10px;
    margin-top: 10px;
    
  }
}
  /*seats*/
.select-seat-bill{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .seat-map {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .seat-map h2{
    color:rgb(205, 239, 239);
    font-size: 30px;
    font-family: cursive;
  }
  
  .seats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  


  .seat-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    
  }

  .seats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  
  .seat-row {
    
    display: flex;
    align-items: center;
  }
  
  .row-label {
    padding: 10px 16px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
  }
  
  .array {
   
    width: 30px;
    height: 30px;
    border: 1px solid hsl(0, 0%, 6%);
    margin: 5px; 
  }
  .selected-seats{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    font-size: 30px;
    color: rgb(205, 239, 239);
    font-style: italic;
  }

  .bill-container{
    display:flex ;

    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    font-size: 20px;
    

   background-color: rgb(205, 239, 239);
   width:330px;
   
   border-radius: 1.5rem;
  }
  .bill-container h2{
    font-size: 30px;
  }
  .pay{
   
    font-family: fantasy;
    
  }
  
  .pay button {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    margin:10px;
  }
  
  .pay img {
    width: 10px;
    height: 30px;
  }
  
  
  
  .pay button::before {
    width: 150px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .pay button:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .pay button:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }


  @media screen and (max-width: 768px) {
    .grid-container{
      min-width: 500px;
      overflow-x: auto;

    }
    .seat-map h2 {
      font-size: 24px; 
    }
  
    .bill-container {
      width: 100%; 
      border-radius: 0; 
    }
  
    .bill-container h2 {
      font-size: 26px; /* Adjust font size for better visibility on phones */
    }
  
    .seat-row {
      flex-wrap: wrap; /* Wrap seat rows on phones */
    }
  
    .array {
      width: 25px;
      height: 25px;
      /* Adjust seat size for better fit on phones */
    }
  
    .selected-seats {
      font-size: 24px; /* Adjust font size for better visibility on phones */
    }
  }

  